 .u-section-1 {
  background-image: url("images/piemme_concrete_black_nat_ret_60x60.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 48px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  padding-left: 30px;
  padding-right: 30px;
  margin: 48px auto -211px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    padding-top: 6px;
    padding-bottom: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 13px;
  }
}